/*
// general
*/
body {
    color: #666;
    font: 12px Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
}

h1 {
    color: #fff;
    font-size: 2.5em;
    margin: 0;
    text-align: center;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.8);
}

h2, h3 {
    color: #0b3162;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0 0 10px;
}

h3 {
    font-size: 1.2em;
    line-height: 1.2em;
    margin: 0 0 8px;
}

p {
    font-size: 1.1em;
    line-height: 1.1em;
    margin: 0 0 10px;
}

ul, li {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none outside none;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.body {
    border-radius: 5px;
    box-shadow: 0 0.3em 1em #000;
    cursor: default;
    margin: 10px auto 20px;
    width: 1320px;
}

input[type='button'], input[type='reset'], input[type='submit'] {
    background: #a1a1a1;
    background-image: -moz-linear-gradient(top, #ebebeb, #999);
    background-image: -ms-linear-gradient(top, #ebebeb, #999);
    background-image: -o-linear-gradient(top, #ebebeb, #999);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ebebeb), to(#999));
    background-image: -webkit-linear-gradient(top, #ebebeb, #999);
    background-image: linear-gradient(top, #ebebeb, #999);
    border: none;
    border-radius: 5px;
    color: #444;
    cursor: pointer;
    display: inline;
    font: bold 1em Arial, sans-serif;
    font-weight: bold;
    height: 22px;
    line-height: 21px;
    padding: 0 9px 1px;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

input[type='button']:active, input[type='reset']:active, input[type='submit']:active {
    background-image: -moz-linear-gradient(top, #999, #ebebeb);
    background-image: -ms-linear-gradient(top, #999, #ebebeb);
    background-image: -o-linear-gradient(top, #999, #ebebeb);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999), to(#ebebeb));
    background-image: -webkit-linear-gradient(top, #999, #ebebeb);
    background-image: linear-gradient(top, #999, #ebebeb);
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 1);
}

.hidden, input[type='file'] {
    display: none;
}

input[type='text'], input[type='password'] {
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    font-size: 1em;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

input[type='button'].smlbutton {
    float: left;
    height: 16px;
    margin: 0 5px 0 0;
    padding: 0;
    width: 19px;
}

.acc-inactive input[type='button'] {
    background: url('chosen/chosen-sprite.png') no-repeat  4px -1px;
    background: url('chosen/chosen-sprite.png') no-repeat  4px -1px, -moz-linear-gradient(top, #ebebeb, #999);
    background: url('chosen/chosen-sprite.png') no-repeat  4px -1px, -ms-linear-gradient(top, #ebebeb, #999);
    background: url('chosen/chosen-sprite.png') no-repeat  4px -1px, -o-linear-gradient(top, #ebebeb, #999);
    background: url('chosen/chosen-sprite.png') no-repeat  4px -1px, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ebebeb), to(#999));
    background: url('chosen/chosen-sprite.png') no-repeat  4px -1px, -webkit-linear-gradient(top, #ebebeb, #999);
    background: url('chosen/chosen-sprite.png') no-repeat  4px -1px, linear-gradient(top, #ebebeb, #999);
}

.acc-active input[type='button'] {
    background: url('chosen/chosen-sprite.png') no-repeat -14px -1px;
    background: url('chosen/chosen-sprite.png') no-repeat -14px -1px, -moz-linear-gradient(top, #ebebeb, #999);
    background: url('chosen/chosen-sprite.png') no-repeat -14px -1px, -ms-linear-gradient(top, #ebebeb, #999);
    background: url('chosen/chosen-sprite.png') no-repeat -14px -1px, -o-linear-gradient(top, #ebebeb, #999);
    background: url('chosen/chosen-sprite.png') no-repeat -14px -1px, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ebebeb), to(#999));
    background: url('chosen/chosen-sprite.png') no-repeat -14px -1px, -webkit-linear-gradient(top, #ebebeb, #999);
    background: url('chosen/chosen-sprite.png') no-repeat -14px -1px, linear-gradient(top, #ebebeb, #999);
}

.error {
    color: #f00;
}

div.fileupload {
    background: #666;
    border-radius: 5px;
    box-shadow: inset 0 0 1px #fff;
    font-size: 0.9em;
    text-align: center;
    width: 110px;
}

div.fileupload span {
    color: #fff;
    display: block;
    line-height: 21px;
    margin: 0 10px;
    overflow: hidden;
    text-shadow: 1px 1px 1px #000;
}

.accordion {
    border: 1px solid #295885;
    border-radius : 5px;
    margin: 0 0 10px;
    padding: 10px;
}

.accordion h3 {
    margin: 0;
}

.tablewrapper {
    margin: 5px 0 0;
}

.auxwrapper {
    margin: 0 0 10px;
    min-height: 23px;
}

.aux {
    border: 1px solid #295885;
    border-radius : 5px;
    padding: 10px;
}

.aux th, .aux td {
    padding: 0 10px 5px 0;
}

.aux th {
    text-align: left;
}

.aux td {
    font-size: 0.9em;
}

.aux input[type='text'], .table input[type='text'] {
    font-size: 0.9em;
    height: 17px;
}

.aux input[type='reset'] {
    margin: 0 0 0 2px;
}

.aux td.button {
    padding: 5px 0 0 0;
}

.aux div.chzn-search input, .table div.chzn-search input {
    background-position: 100% -23px;
}

div.datefilter {
    display: none;
}

.datepicker {
    color: #888;
}

#preview {
    position: absolute;
    border-radius: 5px;
    background: #fff;
    padding: 5px;
    display: none;
    color: #fff;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
        
#preview img {
    max-width: 150px;
}

.addlink {
    display: inline-block;
    padding: 1px 0 0 4px;
}

.addlink a {
    display: block;
    line-height: 18px;
}

/*
// table
*/

.table th {
    background: #144677;
    border-bottom: 1px solid #cfcfcf;
    color: #fff;
    font-size: 0.9em;
    height: 23px;
    padding: 0 8px;
    text-align: left;
    width: 94px;
}

.table th.first {
    border-top-left-radius: 5px;
}

.table th.last {
    border-top-right-radius: 5px;
}

.table th.empty {
    background: none;
    border-bottom: 0;
    width: auto;
}

.table th.hidden {
    display: none;
}

.table th.fill {
    width: auto;
}

.table thead td {
    border-bottom: 1px solid #cfcfcf;
}

.table tr.filters td {
    font-size: 0.9em;
    height: 27px;
    padding: 0 4px;
}

.table td input[type='text'] {
    width: 100%;
}

.table tbody tr.active {
    background: #ddd;
}

.table tbody td {
    border-bottom: 1px solid #cfcfcf;
    font-size: 0.9em;
    height: 25px;
    padding: 0 4px;
}

.table tbody td.fill {
    width: auto;
}

.table tbody td div:not(.chzn-container) {
    line-height: 1.1em;
    overflow: hidden;
    padding: 0 0 0 1px;
}

.table tbody td div.fileupload {
    font-size: 0.8em;
    width: 100px;
}

.table tbody td div.fileupload span {
    line-height: 19px;
}

.table td.button {
    background: #fff;
    border: 0;
    padding: 0 0 0 5px;
    width: auto;
}

.table th.edit {
    width: 1px;
}

.table td.w120 {
    width: 120px;
}

.table td.w140 {
    width: 140px;
}

.table td.w800 {
    width: 800px;
}

.table div.mw100 {
    max-width: 100px;
}

/*
// header
*/

.header {
    background: #144677;
    border-radius: 5px 5px 0 0;
    height: 88px;
}

.header h1 {
    line-height: 52px;
    margin: 0 0 0 162px;
}

.logo {
    float: left;
    height: 68px;
    padding: 10px;
    width: 68px;
}

.headingmenu {
    float: left;
    height: 88px;
    width: 942px;
}

.heading {
    height: 55px;
}

.userbar {
    color: #fff;
    float: right;
    height: 58px;
    padding: 15px;
    text-align:right;
    width: 220px;
}

.userbar div {
    font-size: 0.8em;
    line-height: 1.2em;
    margin: 0 0 8px;
}

.userbar span {
    font-size: 1.2em;
    font-weight: bold;
}

/*
// menu
*/

.menu {
    height:33px;
    padding: 0 10px;
}

.menu li {
    float: left;
    height: 26px;
    margin: 0 15px 0 0;
}

.menu li:hover {
    background: #a1a1a1;
    background-image: -moz-linear-gradient(top, #ebebeb, #a1a1a1);
    background-image: -ms-linear-gradient(top, #ebebeb, #a1a1a1);
    background-image: -o-linear-gradient(top, #ebebeb, #a1a1a1);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ebebeb), to(#a1a1a1));
    background-image: -webkit-linear-gradient(top, #ebebeb, #a1a1a1);
    background-image: linear-gradient(top, #ebebeb, #a1a1a1);
    border-radius: 5px;
    text-shadow: 1px 2px 2px rgba(255, 255, 255, 0.8);
}

.menu li ul {
    background: #ddd;
    background-image: -moz-linear-gradient(top, #fff, #cfcfcf);
    background-image: -ms-linear-gradient(top, #fff, #cfcfcf);
    background-image: -o-linear-gradient(top, #fff, #cfcfcf);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#cfcfcf));
    background-image: -webkit-linear-gradient(top, #fff, #cfcfcf);
    background-image: linear-gradient(top, #fff, #cfcfcf);
    border: 1px solid #b4b4b4;
    border-radius: 0 5px 5px 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    display: none;
    position: absolute;
}

.menu li:hover ul {
    display: block;
}

.menu li a {
    color: #fff;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 18px;
    padding: 4px 14px;
    text-decoration: none;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.8);
}

.menu li:hover a {
    color: #444;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

.menu li li {
    float: none;
    margin: 0;
    text-align: center;
}

.menu li li a {
    color: #666;
    font-size: 1em;
    font-weight: normal;
    line-height: 22px;
    padding: 2px 34px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
}

.menu li li:hover {
    background: #54b2ff;
    background-image: none;
    border-radius: 0;
}

.menu li li:hover a {
    color: #fff;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
}

.menu li.subnav:hover {
    border-radius: 5px 5px 0 0;
}

/*
// content
*/

.content {
    min-height: 470px;
    padding: 18px 20px;
}

/*
// footer
*/

.footer {
    background: #144677;
    border-radius: 0 0 5px 5px;
    height: 25px;
    padding: 0 10px;
}

.footer div {
    color: #fff;
    font-size: 0.9em;
    float: right;
    line-height: 25px;
    height: 25px;
}

/*
// login
*/

.login {
    margin: 0 auto;
    padding: 30px 0 0;
    width: 400px;
}

.login td {
    padding : 3px 0;
}

.login h2 {
    
    background: #144677;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.2em;
    padding: 7px 0;
    margin: 5px 0 0;
    text-align: center;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.8);
}

.login input[type='text'], .login input[type='password'] {
    width: 294px;
}

.login div {
    height: 24px;
    margin: 2px 0 0;
    text-align: center;
}

.login td.field {
    width: 100px;
}

.nologin {
    margin: 0 auto;
    padding: 10px 0 0;
    width: 400px;
    text-align: center;
}