#header
{
   height: 10%;
   width: 99%;
}
.imgLogo
{
    margin: 2px;
}
.logo
{
    white-space: nowrap;
    margin:5px;
}
.img {
    display: inline-block;
    
}
body
{
  padding-top: 50px;
  padding-bottom: 100px;
 
  
}
.btnStoreman
{
    width: 250px;
    height: 50px;
    font-size: 22px;
}
.btnSpaceStoreman
{
    margin: 20px;
}
.txtSpaceStoreman
{
    margin:10px;
}
#main
{
    margin-left: 10px;
    max-height:100%;
}
.StoremanContent
{
    text-align: center;
}
.linkButton
{
    font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}


#section
{
    width: 15%;
    float: left;
    border: 1px solid #000;
}
#nav
{
    width:100%;
}
#content
{
    padding: 5px;
    height: 80%;
    min-height: 450px;
    width:100%;
    max-width: 100%;
    min-width: 50%;
    float:left;
}

#footer
{
    float: left;    
   width: 100%;
   text-align: center;
   color:#fff;  
   height: 50px;
}
#footerText
{
    margin-top: 15px;
    
}

/* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
#divUntracked
{
    float: left;
    border: 2px solid #000;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: 300px;
}
#divTracked
{
    float: left;
    border: 2px solid #000;
   margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: 300px;
}
#divUntrackedContent
{
    float: left;
    border: 1px solid #000;
   margin-left: auto;
    margin-right: auto;
    width: 32%;
    border-bottom: 2px solid #000;
}
#divTrackedContent
{
    float: left;
    border: 1px solid #000;
   margin-left: auto;
    margin-right: auto;
    width: 32%;
    border-bottom: 2px solid #000;
}
#divResellTrackedContent
{
    float: left;
    border: 1px solid #000;
   margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #000;
    width: 32%;
}
.btnTrackContent
{
    width: 200px;
    height: 50px;
    font-size: 22px;
    margin: 5px;
}
.tabButtons
{
    
}
#newStockMainContent
{
    border: 3px solid #000;
    width: 96%;
    height:400px;
}
.BarcodetextboxLength
{
    font-size: 18px;
    width: 300px;
        height: 30px;
}
#divUntrackedReturnContent
{
    float: left;
    border: 1px solid #000;
   margin-left: auto;
    margin-right: auto;
    width: 48%;
    border-bottom: 2px solid #000;
}
#divTrackedReturnContent
{
    float: left;
    border: 1px solid #000;
   margin-left: auto;
    margin-right: auto;
    width: 48%;
    border-bottom: 2px solid #000;
}
#returnStockMainContent
{
    border: 3px solid #000;
    width: 96%;
    height:400px;
}
#tablePartDetails
{
/*    margin-left: auto;
    margin-right: auto;*/
    width: 60%;
    text-align: left;
}
tr.trPartDetails td
{ 
/*  border-bottom: 1px solid #000; */
}
.btnPartDetails
{
    width:200px;
    height:40px;
    font-size: 18px;
}
.txtboxPartdetails
{
    width: 200px;
    font-size: 18px;
    height: 30px;
    text-align: center;
}
.txtareaPartdetails
{
    width: 200px;
    font-size: 18px;
    height: 30px;
    text-align: center;
    vertical-align:middle;
}
.textboxPartDetailsResponsiblePerson
{
    text-align: left;
    margin-top: 5px;
}


table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;    
}

.bordered {
    //border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}

.bordered tr:hover {
    background: #ddd;
   
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: left;    
}

.bordered th {
    background-color: #144678;
//    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
//    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
//    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
//    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
//    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
//    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
//    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
//    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
//    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
//    border-top: none;
//    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
/*background: rgb(14,27,72);  Old browsers 
    background: -moz-linear-gradient(top,  rgba(14,27,72,1) 0%, rgba(29,61,117,1) 56%, rgba(29,61,117,1) 98%);  FF3.6+ 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(14,27,72,1)), color-stop(56%,rgba(29,61,117,1)), color-stop(98%,rgba(29,61,117,1)));  Chrome,Safari4+ 
    background: -webkit-linear-gradient(top,  rgba(14,27,72,1) 0%,rgba(29,61,117,1) 56%,rgba(29,61,117,1) 98%);  Chrome10+,Safari5.1+ 
    background: -o-linear-gradient(top,  rgba(14,27,72,1) 0%,rgba(29,61,117,1) 56%,rgba(29,61,117,1) 98%);  Opera 11.10+ 
    background: -ms-linear-gradient(top,  rgba(14,27,72,1) 0%,rgba(29,61,117,1) 56%,rgba(29,61,117,1) 98%);  IE10+ 
    background: linear-gradient(to bottom,  rgba(14,27,72,1) 0%,rgba(29,61,117,1) 56%,rgba(29,61,117,1) 98%);  W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e1b48', endColorstr='#1d3d75',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #cfcfcf;
    color: #fff;
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}



.tbOrderItemsHeading td
{
    background-color: #72AFE5 !important;
    border: 1px solid #ccc;
    padding: 10px;
        text-align: left !important;
        color: #333 !important;
}
.tbOrderItemsHeading:hover
{
    background-color: #72AFE5 !important;
    padding: 10px;
        text-align: left !important;
        color: #333 !important;
}

 .tbOrderItemsContents
{
     text-align: left !important;
}

.rowHighlight
{
    background-color: #dddddd;
}
.tbColInvisible td
{
    background-color: #fff !important;
    
}

.rowOrderItems
{
    border-top: 2px solid darkgray;
}
.innerTable
{
    width:100%;
/*    margin-left:40%;*/
    
}

.divReportSearch
{
    min-width:35%;
    float:left;
}

.divReportDetails
{
    min-width:60%;
    float:right;
    
}

.divReportDetails table
{
    width:100%;
}

#content hr
{
    clear:both;
    display:inline-block;
    min-width:100%;
}

.divCaptureItem
{
    width:48%;
    float: left;
}
.divCaptureConsumable
{
    width:48%;
    float: left;
}

a .userNameStyle
{
     a:hover
    {
       color: #fff  !important; 
       font-size: 14px;
    }
}
select.form-control + .chosen-container.chosen-container-single .chosen-single {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-image:none;
}
 
select.form-control + .chosen-container.chosen-container-single .chosen-single div {
    top:4px;
    color:#000;
}
 
select.form-control + .chosen-container .chosen-drop {
    background-color: #FFF;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    margin: 2px 0 0;
 
}
 
select.form-control + .chosen-container .chosen-search input[type=text] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}
 
select.form-control + .chosen-container .chosen-results {
    margin: 2px 0 0;
    padding: 5px 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    margin-bottom: 5px;
}
 
select.form-control + .chosen-container .chosen-results li , 
select.form-control + .chosen-container .chosen-results li.active-result {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
    background-image:none;
}
select.form-control + .chosen-container .chosen-results li:hover, 
select.form-control + .chosen-container .chosen-results li.active-result:hover,
select.form-control + .chosen-container .chosen-results li.highlighted
{
    color: #FFF;
    text-decoration: none;
    background-color: #428BCA;
    background-image:none;
}
 
select.form-control + .chosen-container-multi .chosen-choices {
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image:none;
}
 
select.form-control + .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height:auto;
    padding:5px 0;
}
 
select.form-control + .chosen-container-multi .chosen-choices li.search-choice {
 
    background-image: none;
    padding: 3px 24px 3px 5px;
    margin: 0 6px 0 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #FFF;
    border-color: #CCC;
}
 
select.form-control + .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    top:8px;
    right:6px;
}
 
select.form-control + .chosen-container-multi.chosen-container-active .chosen-choices,
select.form-control + .chosen-container.chosen-container-single.chosen-container-active .chosen-single,
select.form-control + .chosen-container .chosen-search input[type=text]:focus{
    border-color: #66AFE9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}
 
select.form-control + .chosen-container-multi .chosen-results li.result-selected{
    display: list-item;
    color: #ccc;
    cursor: default;
    background-color: white;
}

.tblForm td
{
    padding: 3px;
}

.scannedItemsList
{
    height:100px;
    width:74%;
}

#divSource
{
    width: 48%;
    clear:both;
    float:left;
}

#divDestination
{
    width: 48%;
    float:left;
}
#divRelocateOptions
{
    float:left;
    width:76%;
    margin-top: 15px;
}

#divRelocateOptionHeading
{
    width:21%;
    float: left;
}
.tableRelocate
{
    border: 1px solid black;
}
#tdTarget:hover
{
    cursor: default;
}
#tableRelocateWizard :hover
{
    cursor: pointer;
}
.q
{
    position: relative; background: #428bca;font-size: 20px;color: #fff;font-weight: bold;padding: 5px;
}
.q:after, .q:before
{
    left: 100%; top: 100%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;
}
.q:after
{
    border-color: rgba(66, 139, 202, 0); border-left-color: #428bca; border-width: 19px; margin-top: -35px;
}
.q:before
{
    border-color: rgba(53, 126, 189, 0); border-left-color: #428bca;  margin-top: -35px;
}


.a
{
    background-color: transparent;
    text-align:right;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    border-collapse: separate;
    border-spacing: 0 20px 0 0;
}
#btnFinish
{
    margin-left: 250px;
    margin-top: 5px;
}
.tdAnsw
{
    margin-right: 10px;
}
.smallColumn
{
    width: 100px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.divforgotPassword{
    margin: 10px 10px 10px 0;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: black !important;
}
input:-webkit-autofill:focus
{
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: black !important;
}